body{
    background: url('../images/background_hit.jpg') fixed no-repeat bottom right;
    width: 100%;

}

.container {
    margin: auto;
    margin-top:20px;
    width: 500px;
    border: black;
    border-style: dashed;
    border-width: 2px;
    background-color: #D3D3D3;
    border-radius: 4px;

}

.headTextCenter{
    font-size: 44px;
    text-align: center;
    margin: auto;
    width: fit-content;
    display: block;
    clear: both;
    font-family: 'Bungee', cursive;
    text-shadow: 4px 4px 4px #aaa;


}

.butContainer{
    margin:auto;
    margin-top:70px;
    margin-bottom: 70px;
    width: fit-content;
    height: fit-content;
}

.startBut {
    
    font-size: 22px;
    width: 200px;
    background-color: #ADD8E6;
    color: white;
    font-family: 'Bungee', cursive;

}

.qAHolder{
    margin: 20px;
    width: fit-content;
    
    height: fit-content;
    background-color:white; 
}
.question{
    font-family: 'Ropa Sans', sans-serif;    
    font-size: 33px;
    
}
.choice1{
    font-family: 'Ropa Sans', sans-serif;        
    font-size: 22px;
    text-indent: 50px;
    cursor: pointer;    
}
.choice2{
    font-family: 'Ropa Sans', sans-serif;        
    font-size: 22px;
    text-indent: 50px;
    cursor: pointer;    
}
.choice3{
    font-family: 'Ropa Sans', sans-serif;        
    font-size: 22px;
    text-indent: 50px;
    cursor: pointer;    
}
.choice4{
    font-family: 'Ropa Sans', sans-serif;        
    font-size: 22px;
    text-indent: 50px;
    cursor: pointer;    
}