body{
    background: url('../images/background_hit.jpg') fixed no-repeat bottom right;
    width: 100%;
    opacity: 0.6;

}


#wrapper {
    margin: auto;
    color:green;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    width: fit-content;
    padding:20px;
}

#scoreboard{
    margin: auto;
    background: black;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    width: fit-content;
    padding:20px;
}

#display {
    margin: auto;
    padding: 5px;
    margin-bottom:20px;
    text-align: center;
    font-size: 20px;
    width: fit-content;
    border-width: 2px; 
    border-style: solid;
    border-color: red;
    color:red;
    background: black;
}

#quest{
    color: black;
    border:solid red 5px;
}
#choiceOne{
    color: black;
    border:solid red 5px;
}
#qchoiceTwo{
    color: black;
    border:solid red 5px;
}
#choiceThree{
    color: black;
    border:solid red 5px;
}
#choiceFour{
    color: black;
    border:solid red 5px;
}
#questBox {
  
    margin: auto;
    margin-top: 20px;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    padding:20px;
    width: fill;
}

#buttons {
    border-style: solid;
    border-width: 2px;
    border-color:green;
    margin: auto;
    width: fit-content;
    height: fit-content;
    
}

#start {
    width: 100px;
    height: auto;
}
#stop {
    width: 100px;
    height: auto;
        
}
#reset {
    width: 100px;
    height: auto; 
       
}
#lap {
    
    width: 100px;
    height: auto; 
       
}

